<meta charset="utf8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="description" content="Digital Tech Agency provides Web development for startups. Digital Agency provides Business solutions that suits Startups needs." />
<meta name="author" content="Javier Leandro Arancibia" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{htmlTitle}}</title>

<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap://ready file://* *; style-src * 'self' 'unsafe-inline'; script-src * 'self' 'unsafe-inline' 'unsafe-eval'; font-src * 'self' data:" />

<meta http-equiv="Cache-control" content="public">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Mallanna|Martel+Sans|Roboto|Zilla+Slab" rel="stylesheet">

<!--DISABLE-VENDOR-CSS-->
{{#printCSS}}{{/printCSS}}
<!--DISABLE-/VENDOR-CSS-->
<link rel="stylesheet" href="/css/main.css" type="text/css" />


<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<script type="text/javascript">
    window.ROOT = "/";
</script>


{{> @partial-block }}
