<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-60303213-5', 'auto');
    ga('send', 'pageview');
</script>

{{#if logged}} {{else}} {{>auto-reload}} {{/if}}



<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script type="text/javascript" async>
    // ===== Scroll to Top ==== 
    setTimeout(function() {
        var max = $(document).height() - window.innerHeight;
        var scrollButton = function() {
            if ($(this).scrollTop() <= max - 50) { // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200); // Fade in the arrow
            }
            else {
                $('#return-to-top').fadeOut(200); // Else fade out the arrow
            }
        };
        scrollButton();
        $(window).scroll(function() {
            scrollButton();
        });
        $('#return-to-top').click(function() { // When arrow is clicked
            $('body,html').animate({
                scrollTop: max // Scroll to top of body
            }, 500);
        });
    }, 2000);
</script>


<script type="text/javascript">
    initialize();
    window.$(window).resize(initialize);
    window.addEventListener("orientationchange", initialize, false);


    function isHomeSection() {
        var route = window.location.href;
        route = route.replace(window.location.origin, '').replace(/\//g, "");
        return route === '';
    }
    
    function isAboutSection(){
        return window.location.href.indexOf('about-misitioba') !== -1;
    }

    function isMobile() {
        return window.innerWidth < 992;
    }

    function shouldConfigureBackgroundVideo() {
        return (isHomeSection()||isAboutSection()) && !isMobile();
    }







    function initialize() {
        if (window.initializing) return;
        window.initializing = true;
        console.log('initialize');
        if (isMobile()) {
            startMobile();
        }
        else {
            
            configureDesktop();
        }
        window.initializing = false;
    }

    function loadBackgroundMovie() {
        window.$.getScript('/vendor/jquery.vide.min.js', function() {
            let videoUrl = '/files/video.mp4';
            //var req = new XMLHttpRequest();
            // req.open('GET', videoUrl, true);
            // req.onload = function() {
            // if (this.status === 200) {
            let $video = window.$('#wrap');
            $video.vide({
                mp4: videoUrl,
                poster: '/files/poster.jpg'
            }, {
                posterType: 'jpg',
                loop: true,
                muted: false,
                position: '0% 0%'
            });
            //   }
            // };
            // req.send();
        });
    }

    function getBackgroundMovieInstance() {
        return window.$('#wrap').data('vide');
    }

    function removeBackgroundMovie() {
        var m = getBackgroundMovieInstance();
        if (m) m.destroy();
    }

    function configureDesktop() {
        console.log('configureDesktop');
        if (shouldConfigureBackgroundVideo()) {
            var movie = getBackgroundMovieInstance();
            if (movie) {
                movie.resize();
            }
            else {
                console.log('loadBackgroundMovie');
                loadBackgroundMovie();
            }
            window.$('.content-wrapper').css('background','transparent');
        }else{
            removeBackgroundMovie();
            window.$('html').css('background-image', 'url(/img/slider/1.jpg)');
            window.$('.content-wrapper').css('background','transparent');
        }
    }

    function startMobile() {
        removeBackgroundMovie();
        window.$('html').css('background-image', '');
    }




    function startSlider() {
        var sliderMax = 5;
        var sliderCur = 1;
        var arr = [];
        for (var x = 1; x <= sliderMax; x++) {
            arr.push('/img/slider/' + x + '.jpg');
        }
        var s = Date.now();
        if (window.$('.slider').length <= 0) {
            console.warn('slider images are not available');
            return;
        }
        var texts = ['Digital tools', 'Freelance services', 'Mentoring', "Couching"];
        var cycle = function() {
            if (sliderCur > sliderMax) sliderCur = 1;
            if (window.innerWidth < 992 && sliderCur === 1) {
                sliderCur = 2;
            }
            console.log('Sliding ', sliderCur);
            window.$('.slider').css('background-image', 'url(' + '/img/slider/' + sliderCur + '.jpg)');
            window.$('.slider-text-block h2').html(texts[Math.round(Math.random() * (texts.length - 1 - 0) + 0)]);
            sliderCur++;
        };
        loadImages(arr, function() {
            console.log('Images OK', ((Date.now() - s) / 1000).toFixed(2));
            setInterval(function() {
                cycle();
            }, 5000);
        });
        cycle();
    }



    function loadImages(images, callback) {
        var total = images.length,
            count = 0,
            i;

        function check(n) {
            if (n == total) {
                callback();
            }
        }
        for (i = 0; i < total; ++i) {
            var src = images[i];
            var img = document.createElement("img");
            img.src = src;

            img.addEventListener("load", function() {
                if (this.complete) {
                    count++;
                    check(count);
                }

            });
        }
    }
</script>

<script type="text/javascript" src="/{{env.JS_BUNDLE_PATH}}"></script>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  page_id="1796605547233376"
  theme_color="#0084ff">
</div>
