.container-fluid,
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.wrap__content {
    position: relative;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

@media only screen and (min-width: 768px) {
    .container {
        width: inherit;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

html {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
    height: 100%;
    font-family: $font-1;
    background-size: auto;
    background-repeat: no-repeat;
}

body {
    background-color: transparent;
}

#wrap {

    height: auto;

    background-color: transparent;
    overflow: hidden;

    @media (min-width: 992px) {
        min-height: 100%;
        margin: 0px auto -300px;
        padding: 0px 0px 300px;
        background-color: transparent;

    }
    @media (min-width: 1200px) {}
}

.airtable-embed {
    width: unset;
    min-width: 101%;
    margin-left: -4px;
}

.content-wrapper {
    padding: 0px 0px;
    @media (min-width: 320px) {
        border: 0px;
    }
    @media (min-width: 480px) {
        border: 0px;
    }
    @media (min-width: 768px) {
        border: 0px;

    }
    @media (min-width: 992px) {
        border: 0px;
        margin-bottom: 20px;
        min-height: 480px;
    }
    @media (min-width: 1200px) {
        border: 0px;
        
    }


}

#footer {
        margin-top: 50px;
    background-color: white;
    z-index: 99999;
    position: relative;
    @media (min-width: 992px) {
        min-height:300px;
    }
}

.footer {}

.bg-white {
    background-color: white!important;
}
