a.panel-rt1,
h2.panel-rt1 {
    position: relative;
    z-index: 2;
}

div.panel-rt1 {
    background: white;
    padding: 10px;
    @media (min-width: 320px) {
        text-align: left;
    }
    @media (min-width: 480px) {
        text-align: left;
        padding: 40px 10px 50px 10px;
    }
    @media (min-width: 768px) {
        text-align: left;
        min-height: 200px;
        margin-top: 0px;
    }
    @media (min-width: 992px) {
        text-align: left;
        min-height: 400px;
        padding: 40px 30px 50px 30px;
    }
    @media (min-width: 1200px) {
        text-align: left;
    }
}

h2.panel-rt1 {
    text-align: center;
    font-size: xx-large;
    background: white;
    padding: 20px 0px 0px 0px;
    @media (min-width: 320px) {
        text-align: center;
    }
    @media (min-width: 480px) {
        text-align: center;
    }
    @media (min-width: 768px) {
        text-align: center;
    }
    @media (min-width: 992px) {
        text-align: left;
        margin: 15px auto;
        padding: 20px 0px;
    }
    @media (min-width: 1200px) {
        text-align: left;
    }
}

ul.panel-rt1 {
    text-align: left;
    padding: 0px;
    padding-left: 30px;
    margin-top: 15px;
    @media (min-width: 320px) {
        text-align: left;
    }
    @media (min-width: 480px) {
        text-align: left;
    }
    @media (min-width: 768px) {
        text-align: left;
    }
    @media (min-width: 992px) {
        text-align: left;
        font-size: medium;
    }
    @media (min-width: 1200px) {
        text-align: left;
    }
}

ul.panel-rt1>li {
    text-align: left;
    @media (min-width: 320px) {
        text-align: left;
    }
    @media (min-width: 480px) {
        text-align: left;
    }
    @media (min-width: 768px) {
        text-align: left;
    }
    @media (min-width: 992px) {
        text-align: left;
        font-size: medium;
    }
    @media (min-width: 1200px) {
        text-align: left;
    }
}

p.panel-rt1 {
        padding: 0px 10px;
    text-align: left;
    line-height: 19px;
    display: block;
    margin: 0px;
    font-size: medium;
    font-weight: 100;
    word-spacing: 1px;
    text-align: justify;
    text-align: justify;
    /* word-break: break-all; */
    /* word-wrap: break-word; */
    /* letter-spacing: 2px; */
        margin-top: 10px;
    @media (min-width: 320px) {
        text-align: left;
    }
    @media (min-width: 480px) {
        text-align: left;
        padding: 0px 0px;
    }
    @media (min-width: 768px) {
        text-align: left;
    }
    @media (min-width: 992px) {
        text-align: left;
    }
    @media (min-width: 1200px) {
        text-align: left;
    }
}

hr.panel-rt1 {
    min-width: 100%;
    max-width: 100%;
    border: 5px solid oldlace;
    margin-top: 0px;
    @media (min-width: 320px) {
        min-width: 50%;
    }
    @media (min-width: 480px) {
        min-width: 20%;
        max-width: 100%;
    }
    @media (min-width: 768px) {
        max-width: 100%;
    }
    @media (min-width: 992px) {
        max-width: 100%;
    }
    @media (min-width: 1200px) {
        max-width: 100%;
    }
}

button.panel-rt1 {
    display: block;
    margin: 0 auto;
    min-width: 100%;
    min-height: 50px;
    margin-top: 20px;
    border-color: white;
    font-size: larger;
    @media (min-width: 320px) {
        text-align: center;
    }
    @media (min-width: 480px) {
        text-align: center;
        min-width: 60%;
    }
    @media (min-width: 768px) {
        max-width: 50%;
    }
    @media (min-width: 992px) {
        text-align: center;
        min-width: 240px;
    }
    @media (min-width: 1200px) {
        text-align: center;
    }
}
