.icon-facebook {
    background: url("/img/social.png") -11px -12px / 10em;
    min-height: 30px;
    
}

.icon-twitter {
    background: url("/img/social.png") -54px -12px / 10em;
    min-height: 30px;
    
}

.icon-instagram {
    background: url("/img/social.png") -97px -12px / 10em;
    min-height: 30px;
    
}

.icon-linkedin {
    background: url(/img/social.png) -97px -54px / 10em;
    min-height: 30px;
    
}

.social-panel {
    background: white;
    padding: 0px 0px 0px 0px;
    position: relative;
    /* top: -5px; */
}

.social-icon {
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-block;
    image-rendering: -webkit-optimize-contrast;
    width: 38px;
    margin: 10px;
}

.social-icon-wrapper-margin{
    margin-top: 6px!important;
    margin-bottom: 10px!important;
}

.social-icon-wrapper-2 {
    width: 120px !important;
}
.social-icon-wrapper {
    width: 120px;
    background: transparent;
    margin: 0 auto;
    margin-bottom: 20px;
    @media (min-width: 992px) {
        margin-bottom: 0px;
    }
}
.social-icon-wrapper a:hover{
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .social-icon {
        margin-top: 0px;
    }
}
