{{#> top}}



{{/top}}
<div class="row">
    <div class="col-lg-12">
    
        <h3 class="section-title">Diagnostical</h3>
        <div class="panel-rt1">
            <a class="panel-rt1" href="https://www.diagnostical.fr" target="_blank">
                <h2 class="panel-rt1">Diagnostical.fr</h2>
            </a>
            
            <p class="justify work-description">
                Diagnostical is a home inspection booking platform, already implemented in many departments (50 independent certified inspectors in metropolitan France). Founded by an inspector and a web entrepreneur, this startup tends to literally revolutionize the
                profession of home inspector by a very simple process : digitization and uberization. If you are a home inspector: Offer your expertise on Diagnostical, and you will gain new customers quickly, regularly and free of charge. If you are
                the owner: You can access the certified inspector schedules available in your department and at the right price.
                
                
            </p>
            <img class='img-responsive center-block' src="/img/diagnostical-page.jpeg" width="600">



        </div>
    </div>

</div>
{{>bottom}}
