{{#> top}}



{{/top}}
<div class="row">
    <div class="col-lg-12">
    
        <h3 class="section-title">Errortracky</h3>
        <div class="panel-rt1">
            <a class="panel-rt1" href="https://www.errortracky.com" target="_blank">
                <h2 class="panel-rt1">errortracky.com</h2>
            </a>

            <p class="justify work-description">
                Errortracky is a real-time error tracking tool for Javascript developers and startups. It allow you to track client-side javascript errors easily and fast.
            </p>
            <p class="justify work-description">
                The web application was developed from the scratch using Nuxt (VueJS) and NodeJS/Express/Mongo.
            </p>
            <img class='img-responsive center-block' src="/img/errortracky-page.png" width="600">


        </div>
    </div>

</div>
{{>bottom}}
