{{#> top}}



{{/top}}
<div class="row">
    <div class="col-lg-12">
    
        <h3 class="section-title">Tous Mes Droits</h3>
        <div class="panel-rt1">
            <a class="panel-rt1" href="https://www.tousmesdroits.com" target="_blank">
                <h2 class="panel-rt1">tousmesdroits.com</h2>
            </a>

            <p class="justify work-description">
                TOUS  MES  DROITS  est  une  plateforme  en  ligne  qui  permet  aux  particuliers  et  aux  professionnels  de  connaître  gratuitement  toutes  les  aides  de  l’Etat  auxquelles  ils  ont  droit. 

            </p>
            <p class="justify work-description">
                Notre  robot  intelligent,  Lisa,  vous  pose  quelques  questions  et  détecte  immédiatement  toutes  les  aides  que  vous  pouvez  recevoir.  Lisa  accomplit  ensuite  automatiquement  toutes  les  démarches  à  votre  place.
            </p>
            <p class="justify work-description">
                MisitioBA provides software engineering development for the entire development.
                <br>
                The technology stack currently in use involves Nuxt (VueJS) and Wrapkend (NodeJS Backendless platform).
            </p>
            <img class='img-responsive center-block' src="/img/tousmesdroits-page.png" width="600">


        </div>
    </div>

</div>
{{>bottom}}
