{{#> top}}
{{/top}}
<div class="row">
    <style scoped>
    h2,h3{
        text-align:center;
        margin-bottom: 40px;
    }
    a{
            word-wrap: break-word;
    }
    </style>
    <div class="col-lg-12">
     
        
        <h3 class="section-title">Full-stack javascript freelancer (+7 years of experience)</h3>
        
        <div class="bg-white content-wrapper-padding-top">




            <img class="block-220" src='https://res.cloudinary.com/paris7510/image/upload/z_2/w_400,h_400,c_crop,g_face,r_max/w_200/fl_png32/dn_162/v1502813491/misitioba/avatar/javier-arancibia.png' height="64" />
            <h2 class="services-title">Javier Leandro Arancibia</h2>
            {{>social-icons-ja}}
            <div class="well">

                
              
                <h3>Engineering services</h3>
                <ul class="list-great-1">
                    <li class="list-great-1-item">Fullstack web applications with Angular v1, NodeJS and MongoDB.</li>
                    <li class="list-great-1-item">Fullstack web applications with React, NodeJS and MongoDB.</li>
                    <li class="list-great-1-item">Progressive web applications with PREACT.</li>
                    <li class="list-great-1-item">Progressive web applications with VUEJS.</li>
                    <li class="list-great-1-item">Feature oriented programming with any javascript technology / framework <b>existing projects</b></li>
                </ul>
                <h4>Features</h4>
                <ul class="list-great-1">
                    <li class="list-great-1-item">
                        Frontend design mockups.
                    </li>
                    <li class="list-great-1-item">Frontend htmlfy (psd to html).
                    </li>
                    <li class="list-great-1-item">
                        Database engineering.
                    </li>
                    <li class="list-great-1-item"> Version control (Git).</li>
                    <li class="list-great-1-item">
                        Business logic programming: Any feature (reasonable), Any provider integration.
                    </li>
                    <li class="list-great-1-item">
                        SEO and google indexing techniques, angular spa crawling.
                    </li>
                    <li class="list-great-1-item">Performance take care (asset bundling).
                    </li>
                    <li class="list-great-1-item">
                        Deployments to PaaS, private VPNs with continuous integration.
                    </li>
                    <li class="list-great-1-item">
                        DevOps operations
                    </li>
                    <li class="list-great-1-item">
                        Integration tools / Web services (Migration between propietary software)
                    </li>
                    <li class="list-great-1-item">
                        Client side / Server side error tracking tools (Like raygun dot com)
                    </li>
                    <li class="list-great-1-item">
                        Docker
                    </li>
                </ul>

                <h4>Contract types</h4>
                <p  class="service-text">
                    Hourly rates, Daily rates, Feature rates, Sprint rates, Project fixed rates
                </p>

                <h4>Location</h4>
                <p  class="service-text">
                    I can work remotly or in-house. I may be able to relocate to a different city / country.
                </p>

                <h4>
                    Contact
                </h4>
                <p>Email:
                    <a class="light" href="mailto:arancibiajav@gmail.comn" target="_blank">arancibiajav@gmail.com</a>
                </p>
                <p>Phone:
                    <a class="light" href="tel:0033782809054">FR +33782809054</a>
                </p>
               
               
            </p>
            <h2>More</h2>
            
            <h3><a href="https://github.com/javimosch">https://github.com/javimosch</a></h3>
            <h3><a href="https://gitlab.com/javimosch">https://gitlab.com/javimosch</a></h3>
            <h3><a href="https://about.me/arancibiajav">https://about.me/arancibiajav</a></h3>
            <h3><a href="https://www.couchsurfing.com/people/javi-y-ma">https://www.couchsurfing.com/people/javi-y-ma</a></h3>

            
            
            </div>



        </div>
    </div>

</div>
{{>bottom}}
