{{#> top}} {{/top}}
<div class="row">
    <div class="col-lg-12">

        <h3 class="section-title">Projects</h3>
        <div class="panel-rt1">

            <div class="row gutter-1">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail thumbnail_project">
                        <img src="/img/diagnostical-page.jpeg" alt="...">
                        <div class="caption">
                            <a href="/work/diagnostical"  role="button"><h3>Diagnostical</h3></a>
                            <p>Diagnostical is a home inspection booking platform, already implemented in many departments</p>
                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail thumbnail_project">
                        <img src="/img/gasport-page.jpeg" alt="...">
                        <div class="caption">
                            <a href="/work/gasport" ><h3>Gasport</h3></a>
                            <p>Aplicacion movil de repostaje de carburante económico de forma rápida y cómoda.<br>Mobile application for refueling from inside the car.</p>
                            
                        </div>
                    </div>
                </div>

                 <div class="col-sm-6 col-md-4">
                    <div class="thumbnail thumbnail_project">
                        <img src="/img/errortracky-page.png" alt="...">
                        <div class="caption">
                            <a href="/work/errortracky" ><h3>Errortracky</h3></a>
                            <p>Errortracky is a real-time error tracking tool for Javascript developers and startups. It allow you to track client-side javascript errors easily and fast.</p>
                            
                        </div>
                    </div>
                </div>

                 <div class="col-sm-6 col-md-4">
                    <div class="thumbnail thumbnail_project">
                        <img src="/img/tousmesdroits-page.png" alt="...">
                        <div class="caption">
                            <a href="/work/tousmesdroits" ><h3>Tous Mes Droits</h3></a>
                            <p>Plateforme  en  ligne  qui  permet  aux  particuliers  et  aux  professionnels  de  connaître  gratuitement  toutes  les  aides  de  l’Etat  auxquelles  ils  ont  droit.</p>
                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail thumbnail_project">
                        <img src="/img/wrapkend-page.png" alt="...">
                        <div class="caption">
                            <a href="/work/wrapkend" ><h3>Wrapkend</h3></a>
                            <p>Backendless Solution for freelancers and small to medium companies. It allows developers to code the backend logic for multiple projects in one place and faster.</p>
                        </div>
                    </div>
                </div>


            </div>

            


        </div>
    </div>

</div>
{{>bottom}}
